/* Styles for the navigation bar */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 96.3w;/* Center the nav bar */
    height: 2vw;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
    padding: 1vw;
}

.links a:hover {
    color: white;
    background-color: #292829;
    border-radius: 15px;
    text-decoration: underline;
}
.dropdown-content hr 
{
    width:100%;
}
.dropbtn{
    background-color: #333;
    color:white;
    border:none;
    font-family: 'Segoe UI';
    font-size:16px;
    padding:1vw;
}   
.dropbtn:hover{
    background-color: #292829;
    border-radius:15px;
}
.dropdown-content
{
    display:none;
    position:absolute;
    top:4vw;
    right:7vw;
    background-color: #333;
    min-width: 160px;
    padding:1vw;
    border-radius: 0 0 25px 25px;
    border: 2px solid white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
/* Responsive styles for the navigation bar */
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        height: auto;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .links {
        flex-direction: column;
        gap: 10px;
    }

    .links a {
        font-size: 14px;
        padding: 0.5vw;
    }
}
