.printingQuote {
  margin-top: 20px;
  margin-left: 15vw;
  padding-bottom: 7.76vw;
} 
  .header
  {
    color:white;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px grey solid;
    width: 60vw;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .label {
    margin-bottom: 5px;
  }
    
  .quantity
  {width:5vw;}

  .inputField {
    margin-bottom: 10px;
    width:50vw;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
    
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  

  .textBox {
    margin-left: 5px;
    width:40vw;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Adjust as needed for spacing */
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .inputField {
    padding: 5px;
  }
  
  .form button
  {
    background-color: white;
    border: 2px solid black;
    padding: 2vw;
    border-radius:15px;
    width:20vw;
    margin-left:30%;
  }

  .form button:hover{
    cursor: pointer;
    background-color: grey;
    color:white;
  }