/* Responsive styles for the PrintingQuote component */
.printingQuote {
  display:block;
  margin-top: 0%;
  padding: 0; /* Responsive padding */
  text-align: center; /* Center align for small screens */
}

.printingQuote .header {
  color: white;
}
.printingQuote h1{
  font-size:3em;
}
.printingQuote 
.label {
  margin-bottom: 5px;
}

.quantity {
  width: 100%; /* Full width on small screens */
}

.printingQuote .inputField {
  margin-bottom: 1vw;
  width: 100%; /* Full width on small screens */
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.printingQuote .form
{
  display:flex;
  width:40vw;
  border-radius: 25px;
}
.printingQuote form{
  width:100%;
}
.printingQuote .form .label{
  display:flex;
  justify-content: left;
}
.printingQuote .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.printingQuote .textBox {
  margin-left: 5px;
  width: 100%; /* Full width on small screens */
}

.printingQuote .inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.printingQuote .design
{
  margin-top: 10px;
}

.printingQuote .form button {
  background-color: white;
  border: 2px solid black;
  padding: 2vw;
  border-radius: 15px;
  width: 60%; /* Responsive width */
  margin: 0 auto; /* Center the button */
}

.printingQuote .form button:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}
