.services
{
    background-color: white;
    height:50vw;
    overflow-x: hidden;
    overflow-y:hidden;
}
.services .header{
    display:block;
    margin-left:17vw;
    height:10vw;
}

.services .header h1{
    font-size:6vw;
    width:100vw;
}

.services .cards{
    margin:0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:60vw;
    margin-left:23vw;    
}
.services .cards .card
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background-color:#D9d9d9;
    max-width: 200px;
    height:35vw;
    overflow-x:hidden;
    border-radius: 50px 50px 25px 25px;

}
.services .card img{
    max-width: 150%; /* Ensure the image fits within the card */
    height: auto; /* Maintain image aspect ratio */
}
#eternal
{
    max-width: 108%;
    background-color: black;
}
#webdev{
    max-width: 170%;
}
.card hr{
    margin:0;

    width:100%;
    border:10px solid #565555;
}
.card h2{
    margin:10px 0;
}

.card p{
    margin:10px 0;
    font-size:24px;
}

.card:hover{
    transform: scale(1.1);
    transition: transform .5s;
}